    <!-- BEGIN FOOTER -->
    <footer class="site-footer">
        <div class="site-footer-inner">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-4 col-md-4 col-sm-6">
                        <h3>Get in touch</h3>
                        <p>For general inquiries regarding the Foundation:</p>
                        <div class="contacts-info">
                            <p><i class="fa fa-phone"></i> {{config.contactPhone}}</p>
                            <p><i class="fa fa-envelope-open-o"></i> {{config.contactEmail}}</p>
                        </div>
                        <ul class="social-nav">
                            <li>
                                <a href="{{config.socialMedia.instagram}}">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{config.socialMedia.facebook}}">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{config.socialMedia.twitter}}">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="site-footer-bar">
            <div class="container no-padding text-center">

            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
