<div id="wrapper" class="wrapper landing charities-landing">
  <!-- BEGIN SEARCH -->
  <div class="site-search">
    <div class="site-search-inner">
      <div class="container">
        <form class="site-search-form">
          <h2>Looking for something?</h2>
          <div class="input-group">
            <input class="form-control" type="search" required>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <button type="button" class="site-search-close-btn">×</button>
  </div>
  <!-- END SEARCH -->

  <!-- BEGIN MAIN CONTENT -->
  <main class="site-content">
    <div class="slideshow owl-carousel" data-slideshow-settings='{"animateOut":"fadeOut","animateIn":"fadeIn", "autoplay": true}'>
      <div class="slideshow-item slideshow-{{charity.identifier}}-1">
        <div class="slideshow-item-bg"></div>
        <div class="slideshow-item-inner">
          <div class="container text-center">
            <div class="row">
              <div class="col col-lg-8 col-lg-offset-2">
                <h2 class="title animated fadeInUpSmall" data-animation="">
                  <i>{{charity.name}}</i>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slideshow-item slideshow-{{charity.identifier}}-2">
        <div class="slideshow-item-bg"></div>
        <div class="slideshow-item-inner">
          <div class="container text-center">
            <div class="row">
              <div class="col col-lg-8 col-lg-offset-2">
                <h2 class="title animated fadeInLeftSmall"></h2>
                <p class="lead animated fadeInLeftSmall"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slideshow-item slideshow-{{charity.identifier}}-3">
        <div class="slideshow-item-bg"></div>
        <div class="slideshow-item-inner">
          <div class="container text-center">
            <div class="row">
              <div class="col col-lg-8 col-lg-offset-2">
                <h2 class="title animated fadeInRightSmall"></h2>
                <p class="lead animated fadeInRightSmall"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slideshow-item slideshow-{{charity.identifier}}-4">
        <div class="slideshow-item-bg"></div>
        <div class="slideshow-item-inner">
          <div class="container text-center">
            <div class="row">
              <div class="col col-lg-8 col-lg-offset-2">
                <h2 class="title animated fadeInRightSmall"></h2>
                <p class="lead animated fadeInRightSmall"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slideshow-item slideshow-{{charity.identifier}}-5">
        <div class="slideshow-item-bg"></div>
        <div class="slideshow-item-inner">
          <div class="container text-center">
            <div class="row">
              <div class="col col-lg-8 col-lg-offset-2">
                <h2 class="title animated fadeInRightSmall"></h2>
                <p class="lead animated fadeInRightSmall"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if hasTokens}}
    <div class="section-light crypto-section">
      <div class="container text-center">
        <header class="heading text-center">
          <p>Give Directly</p>
          <h2>Donate Crypto</h2>
        </header>
          <div class="row">
            <div class="owl-carousel crypto-tokens" data-crypto-campaign="{{charity.cryptoCampaignId}}" data-slideshow-settings='{"responsive":{"0":{"items":1}, "767":{"items":2}, "992":{"items":2}, "1200":{"items":3}}, "margin":15, "dots":false}'>

            {{#each tokens}}
              <div class="post post-card crypto-token token-{{this.campaignId}}{{this.tokenId}}">
                <header class="post-header">
                  <div class="post-thumb">
                    <img src="/public/uploads/{{this.image}}.jpg" width="800" height="600" alt="">
                  </div>
                </header>
                <div class="post-entry">
                  <h3 class="title">

                  </h3>
                  <p class="remaining"></p>
                  <p>{{this.shortDescription}}</p>
                  <div class="text-center">


                    <div class="form-group">
                      <label for="name">Amount ETH</label>
                      <input type="number" class="form-control amount" value="1" name="donationAmt">
                    </div>
                    <button href="{{this.link}}" target="_blank" data-campaign-id="{{this.campaignId}}" data-token-id="{{this.tokenId}}" class="btn btn-default btn-donate">Donate</button>
                    </br>
                    <a href="{{this.link}}" target="_blank" class="btn btn-default">Learn More</a>
                  </div>
                </div>
              </div>
            {{/each}}

            </div>
          </div>
      </div>
    </div>
    {{/if}}
<div class="container no-top-padding no-bottom-padding about-us">
  <header class="page-header">
    <h1>About
      <i>us</i>
    </h1>
  </header>
  {{#if charity.text1}}
  <div class="row">
    <div class="col-12">
      <p class="lead">{{{charity.text1}}}
      </p>
    </div>
  </div>
  {{/if}}
  {{#if charity.text2}}
  <div class="row">
    <div class="col-12">
      <p>{{{charity.text3}}}</p>
    </div>
  </div>
  {{/if}}
  {{#if charity.text3}}
  <div class="row">
    <div class="col-12">
      <p>{{{charity.text3}}}</p>
    </div>
  </div>
  {{/if}}
  {{#if charity.text4}}
  <div class="row">
    <div class="col-12 justified">
      <p>{{{charity.text4}}}</p>
    </div>
  </div>
  {{/if}}
</div>



  </main>
  <!-- END MAIN CONTENT -->
</div>
</div>