<div class="container charities-landing">
  <header class="heading text-center">
    <p>Who We are helping</p>
    <h2>Featured Charities</h2>
  </header>

  <div class="owl-carousel posts" data-slideshow-settings='{"responsive":{"0":{"items":1}, "767":{"items":2}, "992":{"items":2}, "1200":{"items":3}}, "margin":15, "dots":false}'>

    {{#each charities}}

    <div class="post post-card">
      <header class="post-header">
        <div class="post-thumb">
          <a href="/charities/{{this._id}}">
            <img src="public/images/{{this.identifier}}/cause-photo.jpg" width="800" height="600" alt="">
          </a>
        </div>
      </header>
      <div class="post-entry">
        <h3>
          <a href="/charities/{{this._id}}">{{this.name}}</a>
        </h3>
        <p>{{this.shortDescription}}</p>
        <div class="text-center">

          <a href="/charities/{{this._id}}" class="btn btn-default">Learn More</a>

        </div>
      </div>
    </div>

    {{/each}}
  </div>
</div>